<footer class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <a href="index.html" class="logo footer__logo">
                <img src="@content/svg/logo.svg" alt="HKInvestor">
                HKinvision
            </a>
            <div class="footer__text">
                <p>The World's Best Luxury Car's Dealing Platform</p>
                <div style="color:#fff;font-family:sans-serif;">Front End <a href="https://nikkeyl.vercel.app" style="color:#ff003c;text-decoration:underline">nikkeyl</a></div>
            </div>
        </div>
        <div class="footer__columns">
            <div class="column-footer">
                <div class="column-footer__title">Company</div>
                <ul>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">About Us</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">Product</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">Testimonial</a>
                    </li>
                </ul>
            </div>
            <div class="column-footer">
                <div class="column-footer__title">Support</div>
                <ul>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">FAQ</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">Privacy Policy</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">Terms of Services</a>
                    </li>
                </ul>
            </div>
            <div class="column-footer">
                <div class="column-footer__title">Category</div>
                <ul>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">Super Cars</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">Sport Cars</a>
                    </li>
                    <li class="column-footer__item">
                        <a href="#" class="column-footer__link">More Cars</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__socials">
            <a href="#" class="footer__social"><img src="@content/svg/socials/youtube.svg" alt="youtube" /></a>
        </div>
    </div>
    <div class="footer__copy">
        <p>©2022 HKInvestor. All right reserved</p>
    </div>
</footer>
