<header data-lp data-scroll class="header">
    <div class="header__container">
        <a href="index.html" class="logo header__logo">
            <img src="@content/svg/logo.svg" alt="HKInvestor">
        </a>
        <div class="menu header__menu">

            <nav class="menu__body">
                <ul class="menu__list">
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto=".home" data-goto-speed="1000" data-goto-header class="menu__link hover-after">Home</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto=".luxury-car" data-goto-speed="1000" data-goto-header class="menu__link hover-after">Cars</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto=".services" data-goto-speed="1000" data-goto-header class="menu__link hover-after">Services</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto=".destinations" data-goto-speed="1000" data-goto-header class="menu__link hover-after">Destinations</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="actions">
            <a href="#" class="button">Manage Booking</a>
            <button aria-label="menu icon" type="button" class="actions__icon icon-menu">
                <span></span>
            </button>
        </div>
    </div>
</header>